{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1> Are you sure you want to delete {{club.name}}? </h1>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<form action="{{url_for('deleteClub',club_id = club.id)}}" method = 'post'>
<button type="submit" class="btn btn-danger">
		<i class="material-icons">delete</i>Delete
	</button>
</form>

<a href = '{{url_for("showClubs", club_id = club_id)}}'> 
	<button type="submit" class="btn btn-warning">
		<i class="material-icons">cancel</i>Cancel
	</button>
</a>

{% endblock %}

