{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

<h4>Sign a Player</h4>

<form action="{{url_for('newPlayer',club_id = club_id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Jersey:</p>
		<input type ='text' size='30' name='jersey'>
	  <label>Position</label>
  <select class="browser-default red" name="position">
   
    <option value="GoalKeeper">GoalKeeper</option>
    <option value="CenterBack" >CenterBack </option>
    <option value="Midfielder">Midfielder </option>
       <option value="Striker" >Striker </option>
      
  </select>
    
	</br>


<input type='submit' value='Create'>

</form>

{% endblock %}